# Dependency directories
node_modules/

# Local environment variables (IMPORTANT: DO NOT COMMIT SECRETS)
.env

# SQLite local database files
database.sqlite
database.sqlite-journal

# Mock local storage
mock-github-storage/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
